body {
  background: #2e2e3d;
  padding: 1rem;
  color: #eee;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}
p { 
  margin: 0;
}

.hidden {
  visibility: hidden;
}