// imports
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,500,700');

// variables

// colors
$colors: ();

$white: #fff;
$black: #000;
$grey: (
  100: #f6f6f6,
  200: #eee,
  300: #ddd,
  400: #ccc,
  500: #aaa,
  600: #888,
  700: #666,
  800: #444,
  900: #333,
);
$blue: (
  100: #39d9f9,
  200: #2cb4e7,
  300: null,
  400: #455774,
  500: #26374d,
  600: #1f2c40,
  700: #142135,
  800: null,
  900: #0a1c39
);
$red: (
  100: #900
);

body {
  background: map-get($blue, 900);
  padding: 1rem;
  font-size: 16px;
  color: map-get($grey, 200);
  font-family: 'inconsolata', consolas, monospace;
}
h1, h2, h3, p {
  margin: 0;
}

.ticket {
  background: map-get($grey, 500);
  display: inline-block;
}