ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/*--------------------------------
  FUNCTIONS
---------------------------------*/
@function getcolor($color, $shade) {
  @return map-get($color, $shade);
};
/*--------------------------------
  VARIABLES
---------------------------------*/
$white: #fff;
$grey: (
  100: #f6f6f6,
  200: #eee,
  300: #ddd,
  400: #ccc,
  500: #aaa,
  600: #888,
  700: #666,
  800: #444,
  900: #333
);
$black: #000;
$red: #e03030;
$green: (
  100: #ace3d1,
  200: #73d0b1,
  250: #3eb890,
  300: #38a581,
  400: #148e65,
  500: #2b7f63,
  600: #0e6145,
  800: #074e36,
);
$blue: (
  100: #d5dae5,
  200: #a6b1c7,
  300: #7788aa,
  800: #061639,
  900: #07132c,
);


html {
  background: getcolor($blue, 900);
  color: getcolor($grey, 400);
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a {
  color: getcolor($grey, 600);
}

#container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem;
}
h1, h2 {
  margin: 0;
  font-size: 1rem;
}
button:not(:disabled) {
  cursor: pointer;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  flex: 0 1 100%;
}
.title {
  display: flex;
  align-items: baseline;
}

.sidebar {
  flex-basis: 23%;
}
.table {
  width: 100%;
}
.table td {
  width: 20%;
}

.main {
  flex-basis: 50%;
}