/* colors */

$color-text: #333;
$color-highlight: #bc0000;
$color-bg: #eee;

@function black-opacity($opacity) {
  @return rgba(0,0,0,$opacity);
}
@function grey($rgb) {
  @return rgb($rgb,$rgb,$rgb);
}

/* fonts 
*/
$font-size: 16px;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-family: 'Gothic A1', helvetica, arial, sans-serif;
$bg-btn: #eee;
@function google-font($font, $weights) {
  
}

/* button 
$btn: (
  bg: grey(240),
  color: $color-text,
  border-color: darken(grey, 20%)
);
/* 
ref from https://webdesign.tutsplus.com/tutorials/an-introduction-to-sass-maps-usage-and-examples--cms-22184

*/
$colors: (
  grey: (
    100: #f2f2f2,
    200: #eee,
    300: #ddd,
    400: #ccc,
    500: #bbb,
    600: #aaa,
    700: #999,
    800: #888,
    900: #777,
    light: #eee,
    dark: #333
  ),
  theme: (
    primary: #fff,
    secondary: #fff,
    danger: #fff,
    warning: #fff,
    info: #fff,
    success: #fff
  )
);

@function map-deep-get($map, $keys...) {
  @each $key in $keys {
      $map: map-get($map, $key);
  }
  @return $map;
}