$colors: (
  grey: (
    100: #f2f2f2,
    200: #eee,
    300: #ddd,
    400: #ccc,
    500: #bbb,
    600: #aaa,
    700: #999,
    800: #888,
    900: #777,
    light: #eee,
    dark: #333
  ),
  theme: (
    primary: #fff,
    secondary: #fff,
    danger: #fff,
    warning: #fff,
    info: #fff,
    success: #fff
  )
);

@function map-deep-get($map, $keys...) {
  @each $key in $keys {
      $map: map-get($map, $key);
  }
  @return $map;
}