/* colors */

$color-text: #333;
$color-highlight: #bc0000;
$color-bg: #eee;

@function black-opacity($opacity) {
  @return rgba(0,0,0,$opacity);
}
@function grey($rgb) {
  @return rgb($rgb,$rgb,$rgb);
}

/* fonts */
$font-size: 16px;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-family: 'Nanum Gothic', helvetica, arial, sans-serif;
$bg-btn: #eee;
@function google-font($font, $weights) {
  
}

/* button 
$btn: (
  bg: grey(240),
  color: $color-text,
  border-color: darken(grey, 20%)
);
/* 
ref from https://webdesign.tutsplus.com/tutorials/an-introduction-to-sass-maps-usage-and-examples--cms-22184

*/
$layer: (
  offcanvas: 1,
  lightbox: 500,
  dropdown: 10,
  tooltip: 15
);
 
// _m-lightboxes.scss
@function layer($name) {
  @if map-has-key($layer, $name) {
    @return map-get($layer, $name);  
  }
   
  @warn "The key #{$name} is not in the map ’$layer’";
  @return null;
};
$colors: (
  grey: (
    100: #f2f2f2,
    200: #eee,
    300: #ddd,
    400: #ccc,
    500: #bbb,
    600: #aaa,
    700: #999,
    800: #888,
    900: #777,
    light: #eee,
    dark: #333
  ),
  theme: (
    primary: #fff,
    secondary: #fff,
    danger: #fff,
    warning: #fff,
    info: #fff,
    success: #fff
  )
);

@function map-deep-get($map, $keys...) {
  @each $key in $keys {
      $map: map-get($map, $key);
  }
  @return $map;
}

body {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight-medium;
}

.egg {
  padding: 1rem;
}
.egg-section {
  display: inline-block;
  padding: 1rem;
}

.egg-sprite {
  vertical-align: text-bottom;
  display: inline-block;
  height: 21px;
  width: 16px;
  background: url('../img/egg-resized.png') no-repeat;
  background-size: 80px;
  &.egg-default {
  }
}

.egg-amount {
  font-size: 1.2rem;
  margin-left: .2rem;
}

.btn {
  cursor: pointer;
  padding: .5rem;
  color: $color-text;
  text-decoration: none;
  border: 1px solid darken($bg-btn, 20%);
  background: $bg-btn;
  &:active {
    background: darken($bg-btn, 10%);
  }
}

.hidden {
  display: none;
}

.access-off {
  .btn {
    outline: none;
  }
}






@each $name, $value in map-deep-get($colors, grey) {
  .bg-#{$name} {
   background: $value; 
  }
}