@import 'variables';
// colors
/*--------------------------------
  FUNCTIONS
---------------------------------*/
@function getcolor($color, $shade) {
  @return map-get($color, $shade);
};
/*--------------------------------
  VARIABLES
---------------------------------*/
$white: #fff;
$grey: (
  100: #f6f6f6,
  200: #eee,
  300: #ddd,
  400: #ccc,
  500: #aaa,
  600: #888,
  700: #666,
  800: #444,
  900: #333
);
$black: #000;

$red: #e03030;
$green: (
  100: #ace3d1,
  200: #73d0b1,
  300: #38a581,
  600: #174636,
);
$blue: (
  100: #d5dae5,
  200: #a6b1c7,
  300: #7788aa,
  900: #061639,
);

body {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

p { 
  margin: 0;
}

.hidden {
  display: none;
}
.sr-only * {
  left:-999px;
  top:auto;
  z-index:-999;
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  border: 0;
}
.sr-only *:focus {
  color: $black;
  background-color: $white;
  left: auto;
  top: auto;
  height: auto;
  width: auto;
  overflow:auto;
  padding:5px;
  border:4px solid yellow;
  font-size:1rem;
  z-index:999;
}
// @debug ;