/*--------------------------------
  VARIABLES
---------------------------------*/
$white: #fff;
$grey: (
  100: #f6f6f6,
  200: #eee,
  300: #ddd,
  400: #ccc,
  500: #aaa,
  600: #888,
  700: #666,
  800: #444,
  900: #333
);
$black: #000;

$red: #e03030;
$green: (
  100: #ace3d1,
  200: #73d0b1,
  300: #38a581,
  600: #174636,
);
$blue: (
  100: #d5dae5,
  200: #a6b1c7,
  300: #7788aa,
  900: #061639,
);
