html {
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}
.hidden {
  display: none;
}

[data-name="progress-bar"] {
  display: inline-block;
  width: 200px;
  text-align: center;
  background: #eee;
  position: relative;
}

[data-name="progress-meter"] {
  position: absolute;
  display: block;
  height: 100%;
  background: #91e7a7;
  width: 0%;
}

[data-name="progress-amount"] {
  position: relative;
  margin: 0.5rem;
}