@import url('../css/reset.css');

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
@mixin box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@mixin transition($var) {
  -webkit-transition: $var;
  -moz-transition: $var;
  -ms-transition: $var;
  -o-transition: $var;
  transition: $var;
}

$maxWidth: 900px;
$sanSerif: helvetica, arial, sans-serif;
$monospace: monaco, monospace;
$size: 14px;
$mainColor: #333;
$accentColor: #bc0000;
$mainBg: #fff;
$darkerBg: darken($mainBg, 5%);


body {
  font-family: $sanSerif;
  font-size: $size;
  color: $mainColor;
}

.header {
  width: 100%;
  background-color: $darkerBg;
  // border-bottom: 1px solid darken($mainBg, 15%);  
  .top {
    width: 100%;
    display: table;
    padding: 1em 10px;
    max-width: $maxWidth;
    margin: 0 auto;
    .title, .version { 
      display: table-cell; 
      vertical-align: middle;
    }
    .version {
      font-size: $size*.8;
      font-family: $monospace;
      text-align: right;
    }
    .title {
      font-size: $size*2.5;
      // font-weight: bold;
      letter-spacing: -1px;
    }
  }
}

.container {
  width: 100%;
  max-width: $maxWidth;
  margin: 0 auto;
  padding: 10px;
  display: table;
  .counter {
    width: 20%;
    display: table-cell;
    .table {
      width: 100%;
      td:not(.label) {
        font-family: $monospace;
        font-size: $size*.8;
      }
    }
  }
  .controls {
    width: 70%;
    display: table-cell;
    /* override default button styling */
    button {
      background-color: darken($darkerBg, 5%);
      cursor: pointer;
      font-size: $size;
      padding: .5em;
      border: none;
    }
  }
}