$mainfont: consolas, 'andale mono', 'Lucida Console', monospace;
$white: #fff;
$black: #222;
$lightgrey: #eee;

body {
  font-size: 14px;
}
#enablejs-message {
  margin: 0;
  width: 100%;
  color: $white;
  padding: 1em 0;
  text-align: center;
  background-color: #bc0000;
}
#wrapper {
  display: table;
  width: 100%;
}
#ui {
  display: table-cell;
  vertical-align: top;
  width: 50%;
}
#code {
  background: $lightgrey;
  display: table-cell;
  pre {
    font-family: $mainfont;
  }
}